{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <main role="main" class="inner cover my-auto">
            <h1 id="title" class="display-1 text-center">Donate Money Please</h1>
            <div class="row">
                <div class="col-6">
                    <a href="{% url 'index' %}" id="btn"
                       class="btn btn-outline-light btn-lg btn-block font-weight-lighter"><h1 class="display-4">I <span
                            class="font-weight-bold">need</span> extra tickets</h1></a>
                </div>
                <div class="col-6">
                    <a href="{% url 'index' %}" id="btn"
                       class="btn btn-outline-light btn-lg btn-block font-weight-lighter"><h1 class="display-4">I <span
                            class="font-weight-bold">have</span> extra tickets</h1></a>
                </div>
            </div>
        </main>
    </div>
{#    {% if user.is_authenticated %}#}
{#        Hi {{ user.username }}!#}
{#    {% else %}#}
{#        <p>You are not logged in</p>#}
{#        <a href="{% url 'login' %}">login</a>#}
{#    {% endif %}#}
{##}
{##}
{#    {% if user.is_authenticated %}#}
{#        Hi {{ user.username }}!#}
{#        <p><a href="{% url 'logout' %}">logout</a></p>#}
{#    {% else %}#}
{#        <p>You are not logged in</p>#}
{#        <a href="{% url 'login' %}">login</a>#}
{#    {% endif %}#}
{##}
{##}
{#    {% if user.is_authenticated %}#}
{#        <li>User: {{ user.get_username }}</li>#}
{#        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>#}
{#    {% else %}#}
{#        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>#}
{#    {% endif %}#}



{% endblock content %}


{#<form onsubmit="makeDashboard()">#}
{#  <label for="fname">First name:</label><br>#}
{#  <input type="text" id="fname" name="fname"><br>#}
{#  <label for="lname">Last name:</label><br>#}
{#  <input type="text" id="lname" name="lname">#}
{#</form>#}
{##}
{#<html>#}
{#    <head>#}
{#        <script src='https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.1/sha.js'></script>#}
{#    </head>#}
{##}
{#    <body>#}
{#        <p>Enter your email:</p>#}
{#        <input type="text" id="email">#}
{#        <button type="button" onclick="makeDashboard()">Go</button>#}
{##}
{#        <div>#}
{#            <iframe id="embed" style="width:0;height:0;border:0; border:none;"></iframe>#}
{#        </div>#}
{#        <script>#}
{##}
{#            function periscopeUrl (apiKey, data) {#}
{#                var path = '/api/embedded_dashboard?data=' + escape(JSON.stringify(data));#}
{##}
{#                var sha = new jsSHA('SHA-256', 'TEXT');#}
{#                sha.setHMACKey(apiKey, 'TEXT');#}
{#                sha.update(path);#}
{#                var signature = sha.getHMAC('HEX');#}
{##}
{#                // Build and return final URL#}
{#                var url = 'https://www.periscopedata.com' + path + '&signature=' + signature;#}
{#                return url;#}
{#            };#}
{##}
{##}
{#            function makeDashboard() {#}
{#                var email=document.getElementById("email").value#}
{##}
{##}
{##}
{#                var iframe = document.getElementById("embed");#}
{##}
{#                // Set final URL given API key, dashboard id, and account info#}
{#                iframe.src = periscopeUrl('5620fc33-545d-474f-b965-a79bd9ea7', {#}
{#                    dashboard: 705623,#}
{#                    chart: 9302045,#}
{#                    embed: 'v2',#}
{#                    filters: [{name: 'MO_Email_thing', value:email}]#}
{#                });#}
{##}
{##}
{#                iframe.style.height=500;#}
{#                iframe.style.width=1000;#}
{#iframe.height = 500;#}
{#iframe.width = 1000;#}
{#iframe.frameBorder=0;#}
{#var div = document.getElementById('container');#}
{#div.appendChild(iframe);#}
{##}
{#            }#}
{##}
{#        </script>#}
{#    </body>#}
{#</html>#}
{##}
